/* colors — pywal generated */

@import "~/.cache/wal/colors-rofi.rasi"

* {
  al:   #00000000;
  bg:   @background;
  bga:  @background-alt;
  fg:   @foreground;
  ac:   @selected;
  se:   @active;
}
